@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&family=Montserrat&family=Poppins&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');
.links  {
    background-color: rgb(70, 30, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-radius: 5p */
    font-family: 'Montserrat', sans-serif;
   
}

.my_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
.my_links> a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon{
    color: white;
}

.cart{
    text-decoration: none;
    color: white;
}