.myProductsForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.product_form {
    background-color: rgb(70, 30, 1);
    border-radius: 10px;
    height: 300pxpx;
    width: 300px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.add_products {
    display: flex;
}

.icon{
    color: white;
}

